.main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    left: 20rem;
    width: calc(100% - 21rem);
    transition: width .4s cubic-bezier(.25, .8, .25, 1),
        left .4s cubic-bezier(.25, .8, .25, 1);
}

.mainToggled {
    left: 0 !important;
    display: block !important;
    width: 100% !important;
}

.mainWrapper {
    padding: 1.6rem 2rem;
}