.emojiWrapper {
    background-color: rgba(175, 175, 175, 0.582);
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    padding: 10px;
    overflow-y: scroll;
    margin: 30px;
  }
  .emoji{
      font-size: 30px;
  }
  .emojiDisplay{
    font-size: 2rem;
    background-color: #e8e7e9;
    border-radius: 0 0.3rem 0;
    padding: 2px 10px;
  }
  .emoji-picker{
    position: absolute;
    /* top: 0; */
    right: 3rem;
    bottom: 5rem;
  }