.greetings {
    margin: 1rem 0;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    margin-bottom: .6rem;
}

.subtitle {
    font-size: 1.2rem;
    color: #696969;
}