.sidebar {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    max-width: 100%;
    height: calc(100vh);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    background-color: #FBFBFC;
    border-right: 1px solid #E8E7E9;
    transition: left .4s cubic-bezier(.25, .8, .25, 1);
}

.logo {
    width: 12rem;
    display: block;
    margin: 0 auto;
}

.sidebarToggled {
    left: -100% !important;
    display: none !important;
}

.sidebarHeader {
    border-bottom: 1px solid #E8E7E9;
    padding: 0 1rem;
    height: 6rem;
}

.sidebarSection {
    margin: 3rem 0;
    padding: 0 1rem;
}

.sidebarSectionTitle {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 600;
}

.channels {
    margin: 2rem 0 1rem 0;
}

.channelsLeftWrap {
    background-color: #F4F4F4;
    padding: .6rem;
    border-radius: 1rem;
    height: fit-content;
}

.channelImage {
    height: 2rem;
    width: 2rem;
    display: block;
    margin: 0 auto;
}

.channelsRightWrap {
    flex: 1;
    margin-left: .6rem;
}

.channelTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #2C292F;
    margin-bottom: .2rem;
}

.channelOwner {
    font-weight: .9rem;
    color: #5C5D5D;
    font-weight: 500;
    margin-bottom: .2rem;
}

.channelInfo {
    padding: .2rem 0 0 0;
}

.status {
    font-size: .7rem;
    background-color: #DA2D2D;
    color: #fff;
    padding: .2rem;
    border-radius: .3rem;
    text-align: center;
    width: fit-content;
    display: inline-block;
}

.participants {
    font-size: .8rem;
    display: inline-block;
    padding: .3rem 0 0 0;
    margin: 0 0 0 .5rem;
    color: #696969;
}